[client]
host     = localhost
user     = root
password = {$MYSQL_USER_PASS}
socket   = /var/run/mysqld/mysqld.sock

[mysql_upgrade]
host     = localhost
user     = root
password = {$MYSQL_USER_PASS}
socket   = /var/run/mysqld/mysqld.sock
basedir  = /usr

[mysqld]
user = root
port = 3306
datadir = /var/lib/mysql
socket = /var/run/mysqld/mysqld.sock
skip-networking = false
bind-address = 0.0.0.0
